
/*
COMMON STYLES
________________________
This file contains global styles that are used across the application
*/

html {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

    *, *:before, *:after {
      -webkit-box-sizing: inherit;
      -moz-box-sizing: inherit;
      box-sizing: inherit;
    }
    body {
      min-width: 1100px;
      height: 100%;
      background-color: #282C34;
      overflow: hidden;
    }

    * {
      margin:0;
      padding:0;
    }

    ul li{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    button {
      font-family: 'Raleway', sans-serif;

    }

    ul li button {
      background: none;
      border: none;
      color: #9DA4B6;
      font-size: 18px;
      padding: 8px 10px 8px 10px;
      border-radius: 0px 5px 5px 0px;
      background-color: #21252b;
      margin: 3px;
      width: 100%;
      text-align: left;
}


    div.delete-option {
      position: relative;
      padding-top: 20px;
      text-align: center;
    }

    div.delete-option button {
      padding-top: 10px;
      display: block;
      width: 100%;
      cursor: pointer;
      font-size: 18px;
      background-color: #3a3e4a;
      color: #FFF;
      border-radius: 5px;
      text-align: center;
    }

    .delete-option button:hover {
      background-color: #5c6270;
    }

    .delete-message {
      font-size: 15px;
    }

    button#yes-option{
      color: white;
    }


    #marker-note {
      font-size: 12px;
      height: 5em;
    }
    #marker-submit {
      width: 100px;
      outline: none;
      border: none;
      background-color: #1f8dd6;
      font-size: 24px;
      padding: 8px 25px 8px 25px;
      color: white;
      border-radius: 5px;

    }
    #marker-submit:hover {background-color: #0769af; cursor: pointer}
    .popup button:hover {
      cursor: pointer;
      background-color: #282c34;
      border: none;
}
    .popup button:active {
      border: 1px solid #06D85F;
    }


.annotation-notes {
  position: absolute;
  top: 40px;
}

.saved-message {
  color: #fff;
  padding-top: 5px;
}
.annotation-notes div  {
    position: relative;
    font-size: 16px;
    float: left;
    padding: 5px 5px 5px 5px;
    color: #1f8dd6;
    text-shadow: 1px 0px #ccc;
    /*background-color: #1f8dd6;*/

}

.filter-container {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  column-gap: 0px;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  padding-top: 2px;
  -moz-column-fill: balance;
  column-fill: balance;
}

.filter-button {
  padding-left: 2px;
}

.filter-button:hover {
  cursor: pointer;
  background-color: #5c6270;
}

.query-ui {
  position: relative;
  top: -25px;
  width: 570px;
  border-bottom: 1px solid #1b1c23;
  border-left: 1px solid #1b1c23;
  height: 200px;
  padding: 12px;
  border-radius: 2px;
}

#marker-title  {
  font-size: 14px;
  float: left;
  padding: 2px 0px 2px 0px;
}

#film-title {
  font-size: 14px;
  float: left;
  padding: 2px 0px 2px 0px;
}


.query-ui h3 {
  float: left;
  padding-bottom: 2px;
}

.query-select {
  padding: 10px;
}

.query-ui select {
  position: relative;
  -webkit-appearance: none;
  font-family: 'Raleway', sans-serif;
   -moz-appearance: none;
   appearance: none;
   width: 300px;
   height: 45px;
   left: -100px;
   background-color: #000;
   border: none;
   color: #ccc;
   padding: 5px;
   border-radius: 1px;

}

.filetype-download {
  background: none;
  border: none;
  color: #9DA4B6;
  font-size: 14px;
  padding: 8px 10px 8px 10px;
  border-radius: 0px 5px 5px 0px;
  background-color: #21252b;
  margin: 3px;
  width: 100px;
  text-align: left;

}

.filetype-download:hover {
  background-color: #000;
  cursor: pointer;
}

.filetype-label {
  float: left;
}

input[type=radio]{
  display: none;
  margin: 10px;
}

input[type=radio] + label {
  display:inline-block;
  color: #9DA4B6;
  margin:-2px;
  padding: 4px 12px;
  background-color: #21252b;
  border-color: #ddd;
}

input[type=radio] + label:hover{
  cursor: pointer;
}

input[type=radio]:checked + label {
   background-image: none;
   background-color: #000;
}


/*
Colors
________________________________
*/

.uigray                               { color:#282c34  } /* Main Page Background Color */


/* Marker Colors */
#blue, .shot-color, #shot-filter                    { border-left: 6px solid #1f8dd6;           }
#purple, .credits-color, #credits-filter                { border-left: 6px solid rgb(128, 88, 165); }
#green, .beat-color, #beat-filter                    { border-left: 6px solid #5eb95e;           }
#red, .characters-color, #characters-filter              { border-left: 6px solid #DD514C;           }
#orange, .space-color, #space-filter                 { border-left: 6px solid #F37B1D;           }
#yellow, .scene-color, #scene-filter                 { border-left: 6px solid rgb(250, 210, 50); }
#pink, .act-color, #act-filter                     { border-left: 6px solid #FF85CB            }
#limegreen, .turning-points-color, #turning-points-filter    { border-left: 6px solid #BFF073;           }
#slateblue, .plot-color, #plot-filter           { border-left: 6px solid #638CA6;           }
#beige, .time-color, #time-filter                  { border-left: 6px solid #F7EAC8;           }
#maroon, .sequence-color, #sequence-filter              { border-left: 6px solid #8C4646;           }
#peach, .transition-color, #transition-filter             { border-left: 6px solid #F5A685;           }
#pinkish, .theme-color, #theme-filter             { border-left: 6px solid #eab6b6;           }


/*
Gradients
________________________________
*/

.vertical-gradient{
background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.7));
background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.7));
background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.7));
background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.7));
background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.7));
}
