
/*
COMMON STYLES
________________________
This file contains global styles that are used across the application
*/

html {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

    *, *:before, *:after {
      -webkit-box-sizing: inherit;
      -moz-box-sizing: inherit;
      box-sizing: inherit;
    }
    body {
      min-width: 1100px;
      height: 100%;
      background-color: #282C34;
      overflow: hidden;
    }

    * {
      margin:0;
      padding:0;
    }

    ul li{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    button {
      font-family: 'Raleway', sans-serif;

    }

    ul li button {
      background: none;
      border: none;
      color: #9DA4B6;
      font-size: 18px;
      padding: 8px 10px 8px 10px;
      border-radius: 0px 5px 5px 0px;
      background-color: #21252b;
      margin: 3px;
      width: 100%;
      text-align: left;
}

    div.delete-option {
      position: relative;
      padding-top: 20px;
      text-align: center;
    }

    div.delete-option button {
      padding-top: 10px;
      display: block;
      width: 100%;
      cursor: pointer;
      font-size: 18px;
      background-color: #3a3e4a;
      color: #FFF;
      border-radius: 5px;
      text-align: center;
    }

    .delete-option button:hover {
      background-color: #5c6270;
    }

    .delete-message {
      font-size: 15px;
    }

    button#yes-option{
      color: white;
    }


    #marker-note {
      font-size: 12px;
      height: 5em;
    }
    #marker-submit {
      width: 100px;
      outline: none;
      border: none;
      background-color: #1f8dd6;
      font-size: 24px;
      padding: 8px 25px 8px 25px;
      color: white;
      border-radius: 5px;

    }
    #marker-submit:hover {background-color: #0769af; cursor: pointer}
    .popup button:hover {
      cursor: pointer;
      background-color: #282c34;
      border: none;
}
    .popup button:active {
      border: 1px solid #06D85F;
    }


.annotation-notes {
  position: absolute;
  top: 40px;
}

.saved-message {
  color: #fff;
  padding-top: 5px;
}
.annotation-notes div  {
    position: relative;
    font-size: 16px;
    float: left;
    padding: 5px 5px 5px 5px;
    color: #1f8dd6;
    text-shadow: 1px 0px #ccc;
    /*background-color: #1f8dd6;*/


}


/*
Colors
________________________________
*/

.uigray                               { color:#282c34  } /* Main Page Background Color */


/* Marker Colors */
#blue, #shot-color                    { border-left: 6px solid #1f8dd6;           }
#purple, #credits-color               { border-left: 6px solid rgb(128, 88, 165); }
#green, #beat-color                   { border-left: 6px solid #5eb95e;           }
#red, #characters-color               { border-left: 6px solid #DD514C;           }
#orange, #space-color                 { border-left: 6px solid #F37B1D;           }
#yellow, #scene-color                 { border-left: 6px solid rgb(250, 210, 50); }
#pink, #act-color                     { border-left: 6px solid #FF85CB            }
#limegreen, #turning-points-color     { border-left: 6px solid #BFF073;           }
#slateblue, #plot-color               { border-left: 6px solid #638CA6;           }
#beige, #time-color                   { border-left: 6px solid #F7EAC8;           }
#maroon, #sequence-color              { border-left: 6px solid #8C4646;           }
#peach, #transition-color             { border-left: 6px solid #F5A685;           }


/*
Gradients
________________________________
*/

.vertical-gradient{
background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.7));
background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.7));
background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.7));
background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.7));
background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.7));
}
