
/*
LANDING PAGE
________________________
These are styles specifically used on the landing page.
*/

.overlay-login {
  z-index: 2;
  background-color: rgba(0,0,0,0.9);
}

/* Contents logo, tagline, login */
.lrg-center-aligned-container {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 420px;
    margin: auto;
    }
    .lp-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 75px;
    color: white;
    }


/* Code specific to the annimation on the homepage */


/* Left side color bar animation
_______________________________*/

.colorbar{
      overflow: hidden;
      color: gray;
      }
      .colorbar ul li {
        padding: 10px 10px 10px 0px;
        font-size: 12px;
        color: #5c6270;
        }
      .marker-graphic{
        background-color: #282C34;
        border-radius: 0 5px 5px 0;
        text-align: center;
        }
      .marker-example {
        font-size: 20px;
        font-weight: bold;
        border-radius: 5px;
        padding: 3px;
        color: #5c6270;
        }




.developmentstage {
    font-weight: 700;
    text-transform: uppercase;
    background-color: black;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 11px;
  }

/*Footer*/
.footer{
  position: absolute;
  bottom: 10px;
  right: 20px;
  opacity: 0.5;
  text-align: right;
  color: #9DA4AB;
  font-size: 14px;
  text-transform: uppercase;
}
.footer img{
  width: 30%;
}



.forgot-pass{
  font-size: 20px;
  color: #9DA4AB;
  float: left;
  padding: 18px 0px 0px 5px;
}
.forgot-pass:hover{ color: white; cursor: pointer}

.tagline{
  font-size: 30px;
  color: #9DA4AB;
  font-weight: 100;
  padding: 5px 0px 25px 0px;
}


.large-video-container video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    opacity: 0.1;
}
.stopfade {
   opacity: .5;
}

#polina {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#polina button {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover {
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;
}
a:hover{
  background:rgba(0,0,0,0.9);
}



/*  Animation
_____________________________________
*/
.logo-wrapper{
  text-align: right;
  width: 400px;
  padding-left: 12px;
}

/*--- Animating the logo ---*/
#bar1 {
  position: relative;
  background-color: #1f8dd6;
  border-radius: 0 0 0 5px;
}
#bar2 {
  position: relative;
  background-color: rgb(128, 88, 165);
  /*left: -10px;*/
}
#bar3 {
  position: relative;
  background-color: #5eb95e;
  /*left:-20px;*/
}
#bar4 {
  position: relative;
  background-color:#DD514C;
  /*left:-30px;*/
}
#bar5 {
  position: relative;
  background-color:#F37B1D;
  /*left:-40px;*/
}
#bar6 {
  position: relative;
  background-color: rgb(250, 210, 50);
  border-radius: 0 5px 0 0;
  /*left:-50px;*/
}

#bar1, #bar2, #bar3, #bar4, #bar5, #bar6 {
  height: 70px;
  width: 10px;
  float: left;
  margin-top: 12px;
}

@-webkit-keyframes movingbara{from{left:0;border-radius: 0;}to{left:0;border-radius: 0 0 0 5px;}}
@-webkit-keyframes movingbarb{from{left:-10px;}to{left:0;}}
@-webkit-keyframes movingbarc{from{opacity: 0;left:-100px;}to{left:0;opacity: 1;}}
@-webkit-keyframes movingbard{from{opacity: 0;right:-100px;}to{right:0;opacity: 1;}}
@-webkit-keyframes movingbare{from{left:-40px;}to{left:0;}}
@-webkit-keyframes movingbarf{from{left:-50px;border-radius: 0;}to{left:0;border-radius: 0 5px 0 0;}}

#bar1{-webkit-animation:movingbara 1s forwards;fill-mode:forwards;}
#bar2{-webkit-animation:movingbarb 1s forwards;fill-mode:forwards;}
#bar3{-webkit-animation:movingbarc 1s forwards;fill-mode:forwards;}
#bar4{-webkit-animation:movingbard 1s forwards;fill-mode:forwards;}
#bar5{-webkit-animation:movingbare 1s forwards;fill-mode:forwards;}
#bar6{-webkit-animation:movingbarf 1s forwards;fill-mode:forwards;}

.box1{
  width:200px;
  height:200px;
  background:rgba(255,0,0,0.5);
  position:absolute;
  top:100px;
  left:50%;
  margin-left:-100px;
}


.box2{
  position:absolute;
  top:-1000px;
  left:0;
}

@-webkit-keyframes movingbox{
  from{top:-1000px;}
  to{top:0px;}
}

.box2{
  -webkit-animation:movingbox 100s infinite;
}



@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }


}

/*@media screen and (max-width: 1000px) {
  .lp-main-container {
    width: 80%;
    height: 75%;
    margin: auto;
  }*/
}
