/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

    Created on : Jun 11, 2015, 9:45:23 AM
    Author     : joshr & seanm
*/


/* TABLE OF CONTENTS
––––––––––––––––––––––––––––––––––––––––––––––––––
- Main Grid
___________________________________________________
*/




/* Main Grid
Default grid structure which contains left and right col
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.grid {
      width: 100%;
      height: 100%;
      min-width: 930px;
      padding-top: 30px;}
      .col100    {
        width: 33%;
        float: left;
        overflow-y: auto;
        max-height: 100%;
        min-height: 100%;
        min-width: 400px;
        background-color: #21252b;
        border-right: 1px solid #1b1c23;
        min-width: 263px;
      }
      .col200    {
        width: 67%;
        float: left;
        min-height: 100%;
        overflow-y: scroll;
      }
      .clear { clear: both;}

      .video {
        width: 100%;
      }
/* Header
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.header{
  height: 30px;
  background-color: black;
  color: #5c6270;
  padding: 3px;
  padding: 7px 0px 0px 17px;
  font-size: 13px;
  font-weight: 100;
  position: fixed;
  width: 100%;
  z-index: 1;
  }
  .logo{
    float: left;
    width: 80%;
    font-weight: 700;
  }

  .user-info{
    float: right;
    width: 20%;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
  }

/* Buttons
––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.annotate-btn {
  font-family: 'Raleway', sans-serif;
  z-index: 1;
  position: absolute;
  top: 40px;
  right: 10px;
  padding: 10px 60px;
  background-color: black;
  color: white;
  opacity: 0.5;
  border-radius: 0px 5px 5px 0px;
  padding: 10px 25px 10px 25px;
  color: #fff;
  border-left: 4px solid #1f8dd6;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-out;
}
.annotate-btn:hover {
  opacity: 1;
  cursor: pointer;
}


.button:hover {
  background: #06D85F;
}

/* Annotation Col
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.annotation-filter{
  width: 33%;
  height: 40px;
  background-color: #1b1c23;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid #5c6270;
  display: table;
  padding: 0px 21px 0px 20px;
    }
    .annotation-count{
      font-size: 18px;
      font-weight: 100;
      color: #5c6270;
      font-family: Helvetica, arial;
      display: table-cell;
      vertical-align: middle;
    }


.annotation-list{
  color: lightgray;
  font-size: 15px;
  padding-top: 40px;
  }
    /* hides arrow icon-right */
    .annotation-list i  {
      opacity: 0;
      float: right;
    }
    .annotation-list ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .annotation-list ul li {
      padding: 10px 30px 10px 15px;
      border-bottom: 2px solid #1b1c23;
    }
    .annotation-list ul li:hover {
      background-color:#282c34;
      cursor: pointer;
    }
    /* Displays arrow icon-right */
    .annotation-list ul li:hover i {
      opacity: 0.5;
    }
    .annotation-list ul li i:hover {
      opacity: 1;
      color: red;
    }
    /* Just to show an active play state */
    .annotation-list ul li i:nth-child(5) {
      background-color:#282c34;
      opacity: 1;
    }

.icon-right{
  float: right;
  padding-right: 20px;
}

.time-stamp{
  font-family: Helvetica, arial;
  font-size: 12px;
  color: #5c6270;
  padding: 0px 10px 0px 0px;
  display: inline-block;
  width: 50px;
  text-align: right;
}

/* Annotation Author UI element */

/* User author */
.annotation-author-me {
  font-size: 12px;
  font-weight: bold;
  background-color: black;
  border-radius: 5px;
  padding: 6px;
  margin-right: 15px;
}
/* Other author */
.annotation-author-others {
  font-size: 12px;
  font-weight: bold;
  background-color: #5C6275;
  border-radius: 5px;
  padding: 6px;
  color: #bfc4d6;
  margin-right: 15px;
}


/* Help Text
Used below the video
________________________________________________*/

.helptext{
  font-size: 12px;
  color:#5c6270;
  padding: 10px;
  text-align: right;

}
.helptext ul li{
  display: inline;
  padding-right: 20px;
}
/* Shortcut key style */
.keys{
  font-weight: 700;
  text-transform: uppercase;
  background-color: black;
  border-radius: 3px;
  padding: 2px 5px;
  line-height: 1.7;
}



/* Annotation Selection Overlay
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.overlay-col100, .overlay-col200, .overlay-col300, .overlay-col400 {
  padding-left: 18px;
  width: 25%;
  float: right;
}


.overlay {
  min-width: 1100px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(27, 29, 36, 0.95);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

/* Popup Content */
.popup {
  padding: 40px 20px 20px 30px;
  width: 100%;
  position: absolute;
  right: 10px;
  top: 40px;
  transition: all 0.5s ease-in-out;
  margin: auto;
}
.popup h3 {
  color: white;
  padding-bottom: 10px;
}

/* Close Button */
.popup .close {
  position: absolute;
  top: -12px;
  right: 35px;
  /* transition: all 200ms; */
  font-size: 50px;
  color: white;
  /* font-weight: bold; */
  text-decoration: none;
  color: white;
}
.popup .close:hover {
  color: #06D85F;
}

.annotation-group {
  float: right;
  width: 100%;
  padding: 20px;
  /* border: 2px solid #1b1c23; */
  border-radius: 5px;
  margin: 10px;
  background-color: #1b1c23;
}






/* Media Queries
____________________________________________________
*/
@media only screen and (max-width: 1100px) {

/* Changing the annotation text to be more compact on smaller screens */
  .annotation-list{
     font-size: 13px;
    }
  .sub-cat-label{
     font-size: 13px;
    }

/* Changing the overlay text size based on space-color */
    ul li button{
      font-size: 14px;
    }
}

@media only screen and (max-width: 1550px) {


/* Changing the overlay text size based on space-color */
    ul li button{
      font-size: 16px;
    }
}

/*

#videoNote {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 50px;
    background-color: rgba(16,16,16,0.7);
    color: #fff;
    padding-left: 10px;
    width: 58%;

}

.sceneChangeMarkers {
    -webkit-columns: 25px 3;
    -moz-columns: 25px 3;
    columns: 25px 3;
    position: absolute;
    top: 500px;
    left: 20px;
    background-color: #ccc;
    cursor: pointer;
    padding: 15px;
}


#markersDiv2 .sceneChangeMark {
    cursor: pointer;
}

#markersDiv2 .sceneChangeMark:hover {
    color: red;
}

.sceneChangeMark:hover {
    color: #fff;
}

.sceneChangeTimeSec{
    display: none;
}

.markerSelectButtons a {
    padding-left: 20px;
    cursor: pointer;
}

#markersDiv2 {
    position: relative;
    left: 570px;
    top: 0px;

}*/
